

/* ========================================================================================*/
/*                                      CSS EMI C                                          */


/*ESTE COLOR VA. NO BORRAR*/
.cont-color{
    background-color: #AD0085;
    /*background-color: #AD007C;*/
    }
    
    .color-sub-card{
    color: #AD0085;
    }
    
    a{
    text-decoration: none!important; /*no aparece el subrayado*/
    }
    a:link {
    color:black; /*color apenas abro la pagina*/
    }
    a:visited {
    color:black;/*color cuando vuelvo hacia atrás. como estamos en el menu, quiero que quede mismo color*/
    }
    
    .video{
    width: 70%;
    }
    .mx-auto{
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    
    /*-----------   inicio AREAS DE ESTUDIO ---------------*/
    .area-estudio{
    background-color: gainsboro;
    }
    .area-estudio:hover{
    background-color: #D22F87;
    }
    .card-title{
    font-size: 20px;
    }
    /*-----------   fin AREAS DE ESTUDIO ---------------*/
    
    /*----- NOVEDADES Y ULTIMAS NOTICIAS -----*/
    .animado{   /*al bajarle la opacidad, ya no se ve*/
    opacity: 0;   /*para que no se vea*/
    transition: all 0.5s;   /*para que se vea la animación*/
    }
    
    .mostrarArriba{
        animation: mostrarArriba 1s;
    }

    /*keryframes: son los fotogramas o los cuadros donde vamos a poder definir la animacion
    0%: le estamos diciendo que apenas empiece, el elemento se vaya hacia abajo porque usams la "Y" y numeros positivos
    100%: lo que hace es subir
    */
    @keyframes mostrarArriba{
        0%{
            transform: translateY(60px);
        }
        100%{
            transform: translateY(0);
        }
    }

    .mostrarDerecha{
        animation: mostrarDerecha 1s;
    }
    @keyframes mostrarDerecha{
        0%{
            transform: translateX(60px);
        }
        100%{
            transform: translateX(0);
        }
    }
    
    /*--------------------------------------------------------------
    # About
    --------------------------------------------------------------*/
    .about {
    padding: 0;
    margin-top: 40px;
    }
    
    .about .container {
    background-color: #f7f8f9;
    padding: 60px 50px;
    }
    
    @media (max-width: 992px) {
    .about .container {
    padding: 30px;
    }
    }
    
    .about .content h3 {
    font-weight: 400;
    font-size: 32px;
    color: #364146;
    font-family: "Poppins", sans-serif;
    }
    
    .about .content ul {
    list-style: none;
    padding: 0;
    }
    
    .about .content ul li {
    padding-bottom: 10px;
    }
    
    .about .content ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #28a745;
    }
    
    .about .content p:last-child {
    margin-bottom: 0;
    }
    
    /*--------------------------------------------------------------
    # Frequently Asked Questions
    --------------------------------------------------------------*/
    .faq {
    padding: 60px 0;
    }
    
    .faq .faq-list {
    padding: 0;
    list-style: none;
    }
    
    .faq .faq-list li {
    padding: 0 0 20px 25px;
    }
    
    .faq .faq-list a {
    display: block;
    position: relative;
    font-family: #009cea;
    font-size: 18px;
    font-weight: 500;
    }
    
    .faq .faq-list i {
    font-size: 18px;
    position: absolute;
    left: -25px;
    top: 6px;
    }
    
    .faq .faq-list p {
    margin-bottom: 20px;
    font-size: 15px;
    }
    
    .faq .faq-list a.collapse {
    color: #009cea;
    }
    
    .faq .faq-list a.collapsed {
    color: #343a40;
    }
    
    .faq .faq-list a.collapsed:hover {
    color: #009cea;
    }
    
    .faq .faq-list a.collapsed i::before {
    content: "\eab2" !important;
    }